#include /home/niko/.config/i3/currenti3theme
#include "/home/$USER/.config/i3/currenti3theme"
#include  /"/home/$USER/.config/i3/currenti3theme/"
#include  /"/home/$USER/.config/i3/currenti3theme/"
#include  /home/niko/.config/i3/currenti3theme
#include  /home/niko/.config/i3/currenti3theme
#include  /home/niko/.config/i3/currenti3theme
#include  "/home/$USER/.config/i3/currenti3theme"
#include "/home/niko/.config/i3/currenti3theme"
